/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.clear-both {
  clear: both;
}

.azul {
  color: #42adb3;
}

a ::hover {
  color: #dce530 !important;
  text-decoration: none !important;
}

a :hover,active,visited {
  text-decoration: none!important;
}

a :hover {
    text-decoration:none!important;
}

.vermelho {
  color: #eb5c58;
}

.amarelo {
  color: #f8b743;
}

.amarelo-contato {
  color: #dce530;
    text-decoration: none;
}

.verde{
  color: #bdc33f;
}

.z-1 {
  z-index: 1;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #4f4e50;
  height: 100%;
}

.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}

.heal-logo {
  width: 100px;
}

nav {
  background-color: #fff;;
}

.nav-link {
  color: #4f4e50;
  font-size: 0.75em;
}

.nav-item {
  padding: 0px 10px;
}

.hero {
  background-image: url(http://www.healmarketing.com.br/assets/img/banner_1_Wellness.jpg);
  background-size: cover;
  height: 94vh;
  width: 100%;
}

.carousel-inner {
  height: 100vh;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#banner-1-Wellness {
  background-image: url('http://www.healmarketing.com.br/assets/img/banner_1_Wellness_375.jpg');
}

#banner-2-ConsumerHealth {
  background-image: url('http://www.healmarketing.com.br/assets/img/banner_2_ConsumerHealth_375.jpg');
}

#banner-3-HealthScience {
  background-image: url('http://www.healmarketing.com.br/assets/img/banner_3_HealthScience_375.jpg');
}

#banner-4-PatientCare {
  background-image: url('http://www.healmarketing.com.br/assets/img/banner_4_PatientCare_375.jpg');
}

#scroll_down {
  display: none;
}

.scroll-down {
  position: absolute;
    z-index: 5;
    width: 30px;
    bottom: calc(10%);
    left: calc(50%);
}

.display-5 {
  font-size: 1.5rem;
  /* font-weight: 300; */
  line-height: 1.2;
}

#inicio {
  overflow: hidden;
}

#valores{
  background-color: #42adb4;
  color: #fff;
  overflow: hidden;
}

.valores-linha {
  padding: 0px;
  width: 150px;
  margin-left: 10px;
  margin-top: 5px;
  display: none;
}

.be {
  text-transform: uppercase;
  font-size: 30px;
}

.be-aud {
  margin-top: 50px;
}

.be-emp {
  margin-top: 50px;
}

.for-life {
  margin-top: 50px;
}

#o-que-fazemos {
  background-color: #f4f4f6;
  overflow: hidden;
}

.numbers {
  font-size: 48px;
  margin: -12px 10px 0 0;
  font-weight: 100;
}

.strategy {
  position: relative;
  top: 8px;
  right: -30px;
  font-size: 20px;
}

.branding {
  position: relative;
  top: 8px;
  right: 0px;
  font-size: 20px;
}


.digital {
  position: relative;
  top: 9px;
  font-size: 20px;
}

.health-content {
  position: absolute;
  top: 9px;
  right: 90px;
  font-size: 20px;
}

.video-image {
  position: absolute;
  top: 13px;
  right: 80px;
  font-size: 20px;
  line-height: 20px;
}

#pessoas {
  background-color: #dce530;
}

.pessoas-nome {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin-bottom: 0;
  line-height: 25px;
}

.pessoas-foto {
  max-width: 300px;
  margin-bottom: 20px;
}

#contato {
  background-color: #ed5c57;
  color: #fff;
}

.vamos-conversar {
  font-size: 3em;
  line-height: 1em;
  color: #f9c5c2;
}

.borda-amarela {
  border: 1px solid #dce530;
  border-radius: 21px;
  margin-right: 10px;
}

.form-control {
  border-radius: 1.25em;
}

.enviar {
  border: 5px solid #dbe72f;
  color: #dbe72f;
  background-color: transparent;
  border-radius: 2em;
  padding: .375rem 1.75rem;
}

.linha-heal {
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100%);
  display: none;
}

.linha-valores{
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100%);
  display: none;
}

.linha-fazemos {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: calc(100%);
  display: none;
}

.bolinhas-pessoas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100%);
  display: none;
}

.linha-rodape {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100%);
  display: none;
}

@media only screen and (max-width: 991px) {
  .numbers-box {
    margin: auto !important;
  }
}

@media only screen and (min-width: 768px) {
  #banner-1-Wellness {
    background-image: url('http://www.healmarketing.com.br/assets/img/banner_1_Wellness_768.jpg');
  }

  #banner-2-ConsumerHealth {
    background-image: url('http://www.healmarketing.com.br/assets/img/banner_2_ConsumerHealth_768.jpg');
  }

  #banner-3-HealthScience {
    background-image: url('http://www.healmarketing.com.br/assets/img/banner_3_HealthScience_768.jpg');
  }

  #banner-4-PatientCare {
    background-image: url('http://www.healmarketing.com.br/assets/img/banner_4_PatientCare_768.jpg');
  }
  #scroll_down {
    display: block;
  }
  .nav-link {
    font-size: 0.5em;
  }
  .strategy {
    position: relative;
    top: 8px;
    right: -30px;
    font-size: 20px;
}
}

@media only screen and (min-width: 991px) {
  #banner-1-Wellness {
    background-image: url('http://www.healmarketing.com.br/assets/img/banner_1_Wellness.jpg');
  }
  
  #banner-2-ConsumerHealth {
    background-image: url('http://www.healmarketing.com.br/assets/img/banner_2_ConsumerHealth.jpg');
  }
  
  #banner-3-HealthScience {
    background-image: url('http://www.healmarketing.com.br/assets/img/banner_3_HealthScience.jpg');
  }
  
  #banner-4-PatientCare {
    background-image: url('http://www.healmarketing.com.br/assets/img/banner_4_PatientCare.jpg');
  }

  .nav-link {
    font-size: 1em;
  }

  .be-box {
    width: 312px;
  }

  .strategy {
    position: relative;
    top: 8px;
    right: 10px;
    font-size: 20px;
}

  .be-aud {
    margin-top: 164px;
  }

  .be-emp {
    margin-top: 95px;
  }

  .for-life {
    margin-top: 121px;
  }

  .numbers-box-left {
    margin-left: auto !important;
  }

  .linha-heal {
    display: block;
  }

  .linha-valores{
    display: block;
  }

  .linha-fazemos {
    display: block;
  }

  .bolinhas-pessoas {
    display: block;
  }
  
  .linha-rodape {
    display: block;
  }
  #scroll_down {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  #o-que-fazemos {
    background-image: url(http://www.healmarketing.com.br/assets/img/quem_somos_bg2.png);
    background-repeat: no-repeat, repeat;
    background-size: contain;
  }

  .linha-heal {
    position: absolute;
    width: calc(100%);
    height: auto;
    display: block;
  }

  .linha-valores{
    position: absolute;
    width: calc(100%);
    height: auto;
    display: block;
  }

  .linha-fazemos {
    position: absolute;
    width: calc(100%);
    height: auto;
    display: block;
  }
  strategy {
    position: relative;
    top: 8px;
    right: 10px;
    font-size: 20px;
}
}